# Include local settings
# Requires Git 1.7.10
# git config -f ~/.gitlocal user.email "user@server.tld"
# git config -f ~/.gitlocal user.name "User Name"
[include]
    path = .gitlocal
[pull]
    ff = only
